/* -----------NavBAR2------------------- */
body {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 4vw;
  }
  .nav-links img {
    width: 14vw;
    height: 14vw;
  }
  .nav-links p {
    color: black;
    font-size: 4vw;
  }
  .navAll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body {
    font-family: "Avenir Next", "Avenir", sans-serif;

    color: black;
    font-family: "Avenir Next";
  }

  #menuToggle {
    display: block;
    position: relative;
    top: 15vw;
    left: 10vw;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle nav-links {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle nav-links:hover {
    color: tomato;
  }
  #contact {
    width: 18vw;
    height: 12vw;
  }
  #jobImg {
    width: 15vw;
    height: 18vw;
  }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -8px;
    left: -7px;
    color: black;
    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  /*
   * Just a quick hamburger
   */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: black;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 60vw;
    margin: -100px 0 0 -80px;
    padding: 50px;
    padding-top: 125px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgb(236, 231, 213);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }
  #logoNav {
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;
  }
  body {
    margin: 0;
    padding: 0;
  }

  .navBB {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

@media only screen and (min-width: 769px) {
  #bar {
    z-index: 1;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 1;

    background-image: rgb(236, 231, 213);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navBB {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
  }
  #bar {
    padding: 0;
    position: fixed;
    background-color: rgb(236, 231, 213);
    max-width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .navAll {
    display: flex;
    flex-direction: row;
    justify-content: row;
  }
  .nav-links img {
    width: 2vw;
    height: 2vw;
  }
  .nav-links p {
    color: rgb(141, 135, 111);
    font-size: 1vw;
  }
  #menuToggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-right: 3vw;
    padding-top: 0;
    padding-bottom: 0;
  }
  #contact {
    width: 2.6vw;
    height: 2vw;
  }
  #jobImg {
    width: 2.4vw;
    height: 2vw;
  }
  .logoNav2 img {
    width: fit-content;
    height: fit-content;
  }
}
.logoNav2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: rgb(236, 231, 213);
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  width: 0;
  height: 0;
}
#bandh {
  width: 300px;
  height: 200px;
}
/* 
  -----------NavBAR2------------------- */
img {
  margin: auto;
}
.carousel .thumb {
  visibility: hidden !important;
  margin-right: 0 !important;
  white-space: nowrap;
  overflow: hidden;
  border: 0 !important;
  padding: 0 !important;
  width: 0 !important;
  max-width: 0 !important;
}
.carousel .thumbs-wrapper {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  background: #ece7d5;
}
nav {
  padding: 0;
  margin: 0;
}
