/* -----------NavBAR2------------------- */
body {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 4vw;
  }
  .nav-links img {
    width: 14vw;
    height: 14vw;
  }
  .nav-links p {
    color: black;
    font-size: 4vw;
  }
  .navAll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body {
    font-family: "Avenir Next", "Avenir", sans-serif;

    color: black;
    font-family: "Avenir Next";
  }

  #menuToggle {
    display: block;
    position: relative;
    top: 15vw;
    left: 10vw;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle nav-links {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle nav-links:hover {
    color: tomato;
  }
  #contact {
    width: 18vw;
    height: 12vw;
  }
  #jobImg {
    width: 15vw;
    height: 18vw;
  }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -8px;
    left: -7px;
    color: black;
    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  /*
   * Just a quick hamburger
   */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: black;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 60vw;
    margin: -100px 0 0 -80px;
    padding: 50px;
    padding-top: 125px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgb(236, 231, 213);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }
  #logoNav {
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;
  }
  body {
    margin: 0;
    padding: 0;
  }

  .navBB {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

@media only screen and (min-width: 769px) {
  #bar {
    z-index: 1;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 1;

    background-image: rgb(236, 231, 213);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navBB {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
  }
  #bar {
    padding: 0;
    position: fixed;
    background-color: rgb(236, 231, 213);
    max-width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin: 0;
  }
  .navAll {
    display: flex;
    flex-direction: row;
    justify-content: row;
  }
  .nav-links img {
    width: 2vw;
    height: 2vw;
  }
  .nav-links p {
    color: rgb(141, 135, 111);
    font-size: 1vw;
  }
  #menuToggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-right: 3vw;
    padding-top: 0;
    padding-bottom: 0;
  }
  #contact {
    width: 2.6vw;
    height: 2vw;
  }
  #jobImg {
    width: 2.4vw;
    height: 2vw;
  }
  .logoNav2 img {
    width: 100%;
    height: 100%;
  }
}
.logoNav2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: rgb(236, 231, 213);
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  width: 0;
  height: 0;
}
#bandh {
  width: 300px;
  height: 200px;
}
/* 
  -----------NavBAR2------------------- */
img {
  margin: auto;
}
.carousel .thumb {
  visibility: hidden !important;
  margin-right: 0 !important;
  white-space: nowrap;
  overflow: hidden;
  border: 0 !important;
  padding: 0 !important;
  width: 0 !important;
  max-width: 0 !important;
}
.carousel .thumbs-wrapper {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  background: #ece7d5;
  display: none !important;
}
nav {
  padding: 0;
  margin: 0;
}
/* .carousel .slide .legend {
  transition: none !important;
  position: absolute;
  bottom: 50% !important;
  left: 60% !important;
  margin-left: -45%;
  width: 90%;
  border-radius: 10px;
  background: linear-gradient(#ffffffe6, #fff0) !important;
  color: #fff;
  padding: 10px;
  font-size: 3em !important;
  text-align: center;
  opacity: 1 !important;
  width: 30% !important;
} */
.carousel .slide .legend {
  visibility: hidden !important;
}
.w-100 {
  width: 50% !important;
}
.carousel {
  height: 100% !important;
 
}
.carousel .slide {
  min-height: 60% !important;
  max-height: 60% !important;
  height: 60% !important;
  margin: 0;

  width: 50% !important;
  position: relative;
  text-align: center;
  background: #000;
}
#lauchPad {
  color: rgb(59, 59, 59);
  font-family: "Playball", cursive;
  font-weight: 500;
  font-size: 3.4em;
}
#car {
  background-color: #ece7d5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.5em 3em 3em;
}

/* -------------signin------------------- */

.container5 {
  max-width: 320px;
  margin: auto;
  height: 100%;
  padding: 20px 20px;
  border: 4px solid rgb(141, 135, 111);
  margin-top: 5vh;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ece7d5;
}

#lauchPad2 {
  color: rgb(141, 135, 111);
  font-family: "Playball", cursive;
  font-weight: 500;
  font-size: 3em;
}

.firstPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.googleButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth {
  background-color: white;
  width: 100%;
  font-size: 1.3em;
  padding: 0.3em 2em;
  border: 1px solid white;
  color: rgb(141, 135, 111);
}
.googleButtons p {
  width: 100%;
}

button:hover {
  border: 1px solid rgb(141, 135, 111) !important;
}

button:focus {
  background-color: 1px solid rgb(141, 135, 111) !important;
}
button:active {
  background-color: 1px solid rgb(141, 135, 111) !important;
}

/* -------------signin------------------- */

/*----------landing-----------------*/

.flip-card {
  background-color: transparent;
  height: 50vw;
  width: 65vw;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #ece7d5;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotateY(180deg);
  font-family: "Playball", cursive;
}
.flip-card-front img {
  height: 55vw;
  width: 65vw;
}
.flip-card p {
  margin:0;
  padding: 0;
  font-size: 5vw;
  text-align: center;
}
.title2 h2 {
  text-align: center;
  padding: 3vw 0;
  font-size: 5vw;
  color: rgb(23, 68, 164);
}
.flip-card h3 {
  margin: auto;
  
  font-size: 10vw;
  text-align: center;
  margin: 10vw 0 0;
}
.flip-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1500px) {
  .text p {
    font-size: 2.6vh;
  }
  .text h1 {
    font-size: 4.2vh;
  }
  .box .text {
    left: 0;
    right: 0;
    top: 30%;
    text-align: center;
    width: 50%;
  }

  .flip-card {
    background-color: transparent;
    height: 19vw;
    width: 22vw;
    perspective: 1000px;
  }

  .flip-card-front img {
    height: 19vw;
    width: 22vw;
  }
  .flip-card p {
    margin: 0;
    padding: 0;
    font-size: 2.3vw;
    text-align: center;
    max-width: 90%;
  }
  .title2 h2 {
    text-align: center;
    padding-bottom: 2vw;
    font-size: 2.5vw;
    color: rgb(23, 68, 164);
  }
  .flip-card h3 {
   
    padding-top: 1em;
    font-size: 3.5vw;
    text-align: center;
    margin: 0;
    padding-bottom: 0;
  }
  .flip-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title {
    display: flex;

    flex-direction: row;
  }
}
.table td {
  text-align: center;
}
.table th {
  text-align: center;
  color: #8d876f !important;
  font-size: 1.1em;
  text-decoration: 1px solid #8d876f !important;
}
a {
  color: #8d876f !important;
  font-weight: 700;
}
.draft {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7em 1em 1em;
}
#tracker{
  color: #5f5b4b;
  padding: 0.5em;
  text-align: center;
  letter-spacing: 6px;

}
.title2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: center;
  padding: 4em 3em 3em;
  color:black;
}
.title2 h1{
  padding-bottom: 1em;
  
}
@media only screen and (min-width: 769px) {
  .draft {
    padding: 12em 10em 3em;
  }
  
}
